/* 产品详情 */
.detailsCenter{width: 80%;height: 1300px;margin: 0 auto;}
.ImgText{width: 100%;height: 700px;}
.leftImg{width: 60%;height: 100%;float: left;}
.rightText{width: 40%;height: 100%;float: left;}
.rightText{text-align: center;background: url(../img/detailBG.png) no-repeat;background-position: 150px 240px;}
.rightText>p:nth-child(1){font-size: 30px;margin-top: 50px;}
.rightText>p:nth-child(2){font-size: 30px;}
.rightText>p:nth-child(3){font-size: 25px;font-weight: bold;margin-top: 15px;}
.rightText>p:nth-child(4){font-size: 25px;font-weight: bold;}
.rightText>p:nth-child(5){margin-top: 60px;}
.rightText>p:nth-child(7){margin-top: 30px;}
.rightText>p:nth-child(8){margin-top: 30px;}
.detailCar>a{margin-top: 50px;color: white;}

/* 放大镜 */
.leftImg{width: 60%;height: calc(100% - 20px);float: left;position: relative;margin-top: 50px;}
.goodImg{width: 580px;height: 460px;margin: 0 auto;background: url(../img/list5.jpg) no-repeat 0 0/100% 100%;position: relative;}
.mouseImg{width: 290px;height: 230px;background-color: rgba(0,0,0,.3);cursor:move;display: none;position: absolute;}
/* tab切换 */
.slist{width: 100%;height: 170px;margin-top:25px ;}
.slist>li{float: left;height: 120px;width: 125px;margin:20px 10px;background-color: #8B0000;}
.slist>li>img{width: 100%;height: 100%;}
.dianLs{outline: 2px solid black;}
/* 细节放大图片的移动 */
.right{width: 580px;height: 460px;background-color: #808000;position: absolute;top: 0;left: 700px;overflow: hidden;outline: 0.5px solid grey;display: none;}
.right>img{width: calc(580px * 2);height:calc(460px * 2);position: absolute;top: 0;left: 0;}

/* 文字介绍 */
.introductionText{width:calc(100% -40px);height: 480px;margin-top: 50px;border: 20px dotted #e0edfe;overflow: hidden;}
.introductionText>ul{width: 100%;height: 100%;margin-top: 480px;}
.introductionText>ul>li{width: 50%;height: 100%;float: left;}
.leftIntroduction>div{border-right: .5px solid black;width: calc(100% - 0.5px);height: 50%;background: url(../img/detailBG.png) no-repeat;background-position: 190px 60px;text-align: center;float: left;}
.leftIntroduction>div>h3{margin-top: 20px;}
.leftIntroduction>div>p:nth-child(2){margin-top: 40px;}
.rightIntroduction>h3{margin-top: 20px;text-align: center;}
.rightIntroduction{background: url(../img/detailBG.png) no-repeat;background-position: 190px 60px;}
.rightIntroduction>img{margin-left: 110px;margin-top: 50px;}
.rightIntroduction>ul{margin-left: 40px;margin-top: 20px;}
.rightIntroduction>ul>li{list-style: disc ;}




/* 故事 */
.story{width: 100%;height: 350px;margin-top: 25px;background-color:#e0edfe;overflow: hidden;}
.storyCenter{width: 80%;height: 100%;margin:0 auto;}
.storyCenter>li{float: left;height: 100%;}
.storyCenter>li:first-child{width: 60%;height: 100%;}
.storyCenter>li:last-child{width: 40%;height: 100%;background: url(../img/detailBG.png) no-repeat;background-position: 150px 75px;text-align: center;}
.storyCenter>li:first-child>img{width: 80%;height: 80%;margin-top: 35px;margin-left: 70px;}
.storyCenter>li:last-child>h3{margin-top: 35px;}
.storyCenter>li:last-child>p:nth-of-type(1){margin-top: 35px;}
.storyCenter>li:last-child>p:last-child{margin-top: 50px;font-style: italic;}









